@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900&display=swap');
body {
    font-family: 'Lato';
    background-color: #eae7dc;
}
header {
    text-align: center;
}
nav {
    text-align: center;
}
header h1 {
    font-size: 4em;
}
h1 {
    color: #e8584f;
    
}
h2 {
    color: #e98074;
}
h3 {
    color: #e98074;
}
h4 {
    color: #8e8d8a;
}
h5 {
    color: #8e8d8a;
}
p {
    color: #d8c385;
}
a:visited {
    color: #8e8d8a;
    text-decoration: none;
}
a:link {
    color: #8e8d8a;
    text-decoration: none;
}
a:hover {
    font-weight: bold;
}